@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  min-width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #F2F2F2;
  box-sizing: border-box;

}

.page-conteiner {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: flex;
  height: 64px;
}

.logo {
  display: inline-block;
  margin-left: 70px;
  z-index: 2;
}

.site-navigation {
  list-style: none;
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-left: 28px;
}

.site-navigation-item a {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  list-style: none;
  display: flex;
  width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
}

.button-navigation-link {
  display: grid;
  width: 160px;
  height: 36px;
  align-items: center;
}

.hero {
  display: block;
  color: #333333;
  background-color: #F2F2F2;
  background-image: url("../images/background_mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages > p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child {
  background-color: #82B3D3;
}

.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:last-child {
  background-color: #82B3D3;
}

.advantages-item-custom {
  display: flex;
  width: 1200px;
}

.advantages-item-custom-2 {
  flex-direction: row-reverse;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-article {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-description-article {
  color: #FFFFFF;
}

.services-conteiner {
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services > p {
  font-size: 22px;
  line-height: 26px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.description {
  text-align: center;
}

.description h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.description p {
  font-size: 22px;
  line-height: 26px;
}

.search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.button-search {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  color: #333333;
  background-color: #F2F2F2;
  background: url("../images/canyon_blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 415px;
  text-align: center;
}

.newsletter h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.field {
  font-family: inherit;
}

.button-newsletter {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.filter-products {
  display: block;
  color: #FFFFFF;
  background-color: #000000;
  background: url("../images/background_mountains_blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
  margin: 0;
  margin-bottom: 50px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  list-style: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-price {
  font-family: inherit;
  list-style: none;
}

.button-apply {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.catalog-products-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.catalog-products h2 {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  width: 292px;
}

.card-view-button-conteiner {
  margin-left: 40px;
}

.product-list {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.product-card {
 width: 340px;
 min-height: 438px;
}

.product-card-conteiner {
  padding: 20px;
}

.product-card a {
  text-decoration: none;
}

.product-card-img {
  display: inline-block;
  margin-bottom: 16px;
}

.catalog-products h3 {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 16px;
}

.product-card-type {
  margin: 0;
  margin-bottom: 16px;
}

.product-card-more {
  display: grid;
  width: 140px;
  height: 36px;
  align-items: center;
}

.button-product-card {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
}

.product-card .active {
  background-color: #7DB54F;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-rating span {
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  font-weight: 700;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-catalog {
  min-height: 415px;
  text-align: center;
}

.newsletter-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-catalog p {
  font-size: 22px;
  line-height: 26px;
}
