@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  min-width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: flex;
  height: 64px;
  padding: 0 70px;
}

.logo {
  display: inline-block;
  z-index: 1;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-left: 28px;
}

.site-navigation-item a {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-list-item a {
  position: relative;
  display: block;
  padding: 32px 22px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.button-navigation-link {
  display: grid;
  width: 160px;
  padding: 8px 16px;
  margin-left: 20px;
  align-items: center;
}

.hero {
  display: flex;
  background-color: #000000;
  background-image: url("../images/background_mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.advantages h2 {
  width: 620px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages > p {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-bottom: 69px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child {
  background-color: #82B3D3;
}

.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:last-child {
  background-color: #82B3D3;
}

.advantages-item-custom {
  width: 1200px;
}

.advantages-item-custom-reverse {
  flex-direction: row-reverse;
}

.advantages-title-container {
  width: 230px;
  margin: auto;
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-article {
  color: #FFFFFF;
}

.advantages-description {
  margin: 0;
}

.advantages-description-article {
  color: #FFFFFF;
}

.services-container {
  text-align: center;
}

.services-container h2 {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-container p {
  width: 490px;
  margin: 0 auto;
  padding-bottom: 64px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.services-item-container {
  width: 230px;
  min-height: 223px;
  padding: 80px 85px;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
}

.description {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.description h2 {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.description p {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  width: 376px;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  background: url("../images/canyon_blur.jpg");
  background-size: cover;
  background-color: #82B3D3;
  background-repeat: no-repeat;
  min-height: 415px;
  text-align: center;
}

.newsletter-container {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;

}

.newsletter h2 {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter p {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px 232px;
  height: 52px;
  box-sizing: border-box;
}

.field {
  grid-column: 1/2;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 16px;
  font-family: inherit;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-newsletter {
  grid-column: 2/3;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  margin-left: auto;
}

.footer-social-item a {
  position: relative;
  display: block;
  padding: 20px 22px;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  padding: 5px 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-link {
  display: block;
  padding: 8px 0;
}

.filter-products {
  display: block;
  color: #FFFFFF;
  background-color: #000000;
  background: url("../images/background_mountains_blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
  margin: 0;
  margin-bottom: 50px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  margin-right: 28px;
}

.breadcrumbs-link-home {
  width: 12px;
  height: 12px;
}

.filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  list-style: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-price {
  font-family: inherit;
  list-style: none;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-apply {
  width: 191px;
  margin-bottom: 32px;
  padding: 8px 16px;
  background-color: #82B3D3;
}

.button-reset {
  width: 191px;
  padding: 8px 16px;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.catalog-products-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.catalog-products h2 {
  width: 450px;
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-view-button-container {
  margin-left: 70px;
}

.card-view-button {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.product-card {
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.product-card a {
  text-decoration: none;
}

.product-card-img {
  display: inline-block;
  margin-bottom: 16px;
}

.catalog-products h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-type-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 16px;
}

.product-card-type-container p {
  margin: 0;
}

.product-card-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-more {
  display: grid;
  width: 140px;
  padding: 8px 16px;
  align-items: center;
}

.button-product-card {
  width: 140px;
  padding: 8px 16px;
  background-color: #82B3D3;
}

.product-card .active {
  background-color: #7DB54F;
}

.product-card-rating {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: end;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-rating span {
  width: 140px;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  padding: 0;
  padding-bottom: 60px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-catalog {
  min-height: 415px;
  text-align: center;
}

.newsletter-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-catalog p {
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}
